.banner{
	width: 300px;
	height: 250px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
 #bg{
 	width: 200px;
 	height: 100px;
 }
 #txtone{
 	opacity: 0;
 	margin-top: 100px;
 	z-index: 2;
 	position: relative;
 	
 }
 #txttwo{
 	opacity: 0;
    display: block;
    position: relative;
    width: 100px;
 	height: 30px;
 }
 .flash{
 	width: 300px;
	height: 250px;
	background-color: yellow;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	margin: auto;
	z-index: 1;
 }
 .banner-box{
 	position: relative;
    background: url(../assets/bg.jpg) no-repeat;
    width: 1320px;
    height: 250px;
    background-size: 60%;

 }

 .tulisan{
	position: absolute;
	top: 0;
 }

 #strong{
 	width: 120px;
 	height: 30px;
 	position: absolute;
 	opacity: 0;
 	margin: 0;
 	z-index: 2;
 	margin-top: -70px;
 	margin-left: 130px;
 }

 #txtthree{
 	position: absolute;
 	opacity: 0;
 	z-index: 2;
 	margin-top: -70px;
 	margin-left: 55px;
 }
 #txt03{
 	opacity: 0;
 	position: absolute;
 	z-index: 3;
 	margin-left: 15px;
 	margin-top: -20px;
 }

 #yes{
 	opacity: 0;
 	height: 60px;
 	width: 80px;
 	position: absolute;
 	z-index: 2;
 	margin-left: 90px;
 	margin-top: 0px;
 }

 #txt04{
 	opacity: 0;
 	position: absolute;
 	z-index: 2;
 	margin-left: 15px;
 	margin-top: -20px;
 	width: 200px;
 	height: 100px;
 	margin-left: 50px;
 	margin-top: -70px;
 }

 #logos{
 	width: 0px;
 	position: absolute;
 	z-index: 2;
 	margin-left: 0px;
 	margin-top: 85px;
 }

  #cta{
 	width: 200px;
 	height: 40px;
 	position: absolute;
 	z-index: 3;
 	margin-left: 100px;
 	margin-top: 222px;
 }


 @-webkit-keyframes backdrop_roll{
    from {
        right: 100px; 
    }
    to {
        right: 340px; 
    }
}
@keyframes backdrop_roll { 
    from { 
        right: 100px; 
        } to { 
        right: 340px; 
        } 
}

.box{
	width: 0px;
	height: 30px;
	background-color: red;
	position: relative;
	margin-top: -65px;
    z-index: 1;

}

.boxtwo{
	width: 0px;
	height: 30px;
	background-color: red;
	position: absolute;
	margin-top: -35px;
    z-index: 1;
    left:130px;
}


